{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="search_bar">
    <form action="{% url 'recipe_list' %}">
        <input type="search" name="search" placeholder="Search your Recipes...">
    </form>
</div>
{% if recipes_data %}
{% for recipe_data in recipes_data %}

<div id="recipe_list">
    <h3>{{ recipe_data.title }}</h3>
    <p>{{ recipe_data.ingredients }}</p>
    <p>{{ recipe_data.instructions }}</p>
    <p>{{ recipe_data.preparation_time }}</p>


    <a href="{% url 'recipe_update' recipe_data.id %}">EDIT</a>

    <a href="{% url 'recipe_delete' recipe_data.id %}">DELETE</a>
</div>

{% endfor %}
{% else %}
    <p style="text-align: center; font-size: 18px; color: #888; margin-top: 40px;">
        No recipes found.
    </p>
    {% endif %}
{% endblock content %}